{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}Rango{% endblock %}

{% block body_block %}
	<h1>Rango says...</h1>
	<div>hey there 
	{% if user.is_authenticated %} {{ user.username }}
	{% else %} partner! {% endif %}</div>

	<div>
	<h2>Most Liked Categories</h2>
	{% if categories %}		
	<ul>
		{% for category in categories %}
			<li>
			{% if category %}
				<a href="{% url 'show_category' category.slug %}">
				{{ category.name }}</a>
			{% else %}
				A category by this name does not exist
			{% endif %}
			</li>
		{% endfor %}
	</ul>
	
	{% else %}
	
		<strong>There are no categories present.</strong>
	{% endif %}
	</div>
	<div>
	<h2>Most Viewed Pages</h2>
	{% if pages %}		
	<ul>
		{% for page in pages %}
		<li>
		<a href="{{ page.url }}"> {{ page.title }}</a></br>
		{{ page.views }} views
		</li>
		{% endfor %}
	</ul>
	
	{% else %}
	
		<strong>There are no pages.</strong>
	{% endif %}
	</div>
	<div>
		<img src="{% static "images/rango.jpg" %}"
		alt="Picture of Rango" />
	</div>
{% endblock %}
